{% extends 'base.html' %}
{% load static %}
{% block title %} E-Store Products {% endblock %}
{% block content %}

<div>
    <div class="mx-auto">
        <p><a href="{% url 'allproducts' %}"> Home </a> | <a href="{{product.category.get_url}}">{{product.category}}</a> |{{product.name}}</p>
    </div>
</div>

<div class="container">
    <br>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
            <div style="min-min-width:18rem">
                <img src="{{product.image.url}}" alt="{{product.name}}">
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div>
                <h1>{{product.name}}</h1>
                <p>$ {{product.price}}</p>
                <p>Product Description</p>
                <p class="text-justify">{{product.description}}</p>
                {% if product.stock <= 0 %}
                <p class="text-justify"><b>Out of Stock</b></p>
                {% else %}
                <a class="btn btn-secondary" href="#">Add to Cart</a>
                <br>
                <br>

                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}